/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/geonames/allCountries.zip
storage/geonames/featureCodes_bg.txt
storage/geonames/featureCodes_en.txt
storage/geonames/featureCodes_nb.txt
storage/geonames/featureCodes_nn.txt
storage/geonames/featureCodes_no.txt
storage/geonames/featureCodes_ru.txt
storage/geonames/featureCodes_sv.txt
storage/geonames/iso-languagecodes.txt
storage/geonames/master.txt
